/* PHASE 1: Header */

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #eee;
}

.header {
  background-color: #f00;
  color: #fff;
}

.header-logo {
  font-weight: 700;
  border-right: 1px solid #ccc;
}

.header-logo:hover {
  background: #000;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 36px;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 5px 10px;
}
